body {
    color: #111111;
    background-color: #f7f9f6;
    font-family: times new roman,Times,serif;
    line-height: 1.5
}

.wrapper {
    margin-right: auto; /* 1 */
    margin-left:  auto; /* 1 */

    max-width: 860px; /* 2 */

    padding-right: 10px; /* 3 */
    padding-left:  10px; /* 3 */
}

.imageflex {
    display: flex;
    align-items: center;
}

li {
    margin: .5em 0
}

#header {
	color: #588355;
}

img[alt="Maryam Abuissa"] {
    float: left;
    width: 12em;
    height: auto;
    object-fit: contain;
    margin-right: 1em
}

img
{
    border: 0.4em solid #bfcfbf;
    border-radius: 3%;
    max-width: 80%;
    max-height: 25em;
    display: block
}

img[src$='#right'] {
    float: right
}

.clear {clear: both;}

a:link {
    color: #468427;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: #8e9b8d;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }

html {
    font-size: 100%; 
}